.button-grid { background: #fff; }
.button-grid::after { clear: both; content: ''; display: table; }
.button-grid__button { float: left; }

.button-grid__button button { 
	background: #f1f1f1; 
	border: 0; 
	border-bottom: 3px solid rgba(0, 0, 0, .3);
	border-radius: 0; 
	cursor: pointer; 
	display: inline-block; 
	font: inherit; 
	margin: 20px 10px; 
	padding: 10px 20px; 
}

.button-grid__button button[disabled] { opacity: 0.5; }


.button-grid__button button.gray { background: #BFC1C3; }
.button-grid__button button.green { background: #00823B; color: #fff; }


.post-states {  }
.post-states::after { clear: both; content: ''; display: table; }
.post-states__left { float: left; }
.post-states__right { background: #f1f1f1; float: right; }

.select-all { background: #ffffff; font-weight: bold; text-align: right; }
