<div>

  <div class="grid-row">
    <div class="column-one-half">
      <h1 class="heading-xlarge">
        Fee Log
        <span class="heading-secondary"></span>
      </h1>
    </div>

    <div class="column-one-half">
      <div class="total-submitted">
        <h1 class="heading-small bar-small-header-right">
          Total submitted &nbsp;
          <strong class="bar-feelogs-counter">0</strong>
        </h1>
      </div>
    </div>
  </div>

  <form (submit)="onFormSubmission()">
    <div class="form-group">
      <div class="form-group__content">
        <div class="form-group__fee-logs">
          <table>
            <thead>
              <tr>
                <th>Payment ID &#9660;</th>
                <th>Date &#9660;</th>
                <th>Payer name &#9660;</th>
                <th>Payment Type &#9660;</th>
                <th>Payment Reference &#9660;</th>
                <th>Amount &#9660;</th>
                <th>Status &#9660;</th>
              </tr>
            </thead>
            <tbody class="bar-feelogs-th" *ngFor="let fee_log of payments_logs">
              <tr class="bar-feelogs-th">
                <td class="bar-feelogs-td">
                  <a [routerLink]="'/feelog/edit/' + fee_log.id">{{ fee_log.id }}</a>
                </td>
                <td class="bar-feelogs-td">
                  {{ fee_log.payment_date | date:'d/M/yy' }}
                </td>
                <td class="bar-feelogs-td">
                  {{ fee_log.payer_name }}
                </td>
                <td class="bar-feelogs-td">
                  {{ fee_log.payment_type.name }}
                </td>
                <td class="bar-feelogs-td">
                  {{ fee_log.payment_reference_id }}
                </td>
                <td class="bar-feelogs-td amount">
                  {{ (fee_log.amount/100) | currency: fee_log.currency: 2.2 }}
                </td>
                <td class="bar-feelogs-td">
                  {{ fee_log.status }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>

</div>