{% extends 'layout.njk' %}

{% set title = t('Add payment instruction') %}
{% set heading = t( title ) %}

{% block after_header %}
<div class="blue-nav">
    <div class="blue-nav__content">
        <ul>
            <li><a href="#">Add Payment Instruction</a></li>
            <li><a href="#">Payment Log</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<p>Login form goes here.</p>
{% endblock %}