hr { background: linear-gradient(to right, transparent, #bbb, transparent); border: 0; height: 1px; }

.login { font-family: 'arial', sans-serif; margin: auto; max-width: 300px; width: 100%; }
.text { padding: 5px; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.login-form-wrapper { max-width: 650px; }
