.card {
  background: #dee0e2;
  cursor: pointer;
  float: left;
  margin-bottom: 20px;
  max-width: 180px;
  opacity: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;

  &__amount {
    background: #F8F8F8;
    font-weight: bold;
    padding: 5px 10px;
  }

  &__number {
    color: #005EA5;
    font-size: 43px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  &__label {
    color: #005EA5;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
  }

  &:hover {
    opacity: .7;
  }

  &.selected {
    background: #BFC1C3;
  }

  .content {
    padding: 0 10px;
  }

  &.white {
    background:transparent;
    width: 100px;
    float: right;
    .card__label {
      text-decoration: underline ;
    }
  }

}
