node_modules/

.idea/
*.iml

*swp
*log
.DS_Store

# _deprecated folder stuff
_deprecated/node_modules/
_deprecated/.nyc_output
_deprecated/.sass-cache
_deprecated/*.css

_deprecated/.idea/
_deprecated/*.iml

_deprecated/*swp
_deprecated/*log
_deprecated/.DS_Store
_deprecated/src/main/public/img/lib/*
_deprecated/src/main/public/js/lib/**/*.js
_deprecated/src/main/public/stylesheets/lib/*

_deprecated/node-rpm-packaging/
_deprecated/mochawesome-report/
_deprecated/npm-debug.log.*

# text editors
.vscode
.project
.settings/

_deprecated/src/main/public/dist
dist
e2e/output
