.page-header { width: 100%; }
.page-header::after { clear: both; content: ''; display: table; }
.page-header--pb100 { padding-bottom: 100px; }

.page-header__title, .page-header__counts { float: left; }

.page-header__title { width: 35%; }
.page-header__counts { width: 65%; }

.payment-overview-filter { width: 100%; }
.payment-overview-filter h4 { margin: 0; padding: 0; }
