{% extends "layout.njk" %}

{% set title = t('Welcome to BARS') %}
{% set heading = t('Welcome to BARS') %}

{% block content %}

<div class="grid-row">
    <div class="column-full">
        <h4 class="heading-small">{{ title }}</h4>
		<p class="lede">{{ message }}</p>
    </div>
</div>

{% endblock %}
