{% extends "layout.njk" %}

{% set title = t('Welcome to Bank Accounting Returns') %}
{% set heading = t('Welcome') %}

{% from "includes/macros/form.njk" import submitButton %}

{% block content %}

<div class="grid-row">
    <div class="column-full">
        <h4 class="heading-small">Hello World from web not from Db</h4>
        
    </div>
</div>

{% endblock %}
