<app-modal [hidden]="!showModal" [title]="'Payment instruction added'">
	This is the modal window
</app-modal>

<h1 class="heading-xlarge">
	Add Payment Instruction
	<span class="heading-secondary"></span>
</h1>

<form (submit)="onFormSubmission()">
	<div class="form-group">
		<fieldset class="inline">
			<legend>
				<h1 class="heading-medium">
					Payment Type
				</h1>
			</legend>

			<div class="form-group__content">
				<div class="form-group__payment-type" *ngFor="let payment_type of payment_types">
					<label>
						<div class="multiple-choice">
							<input name="payment_type" type="radio" (click)="onChangePaymentType(payment_type.id)">
							<label [for]="'radio-inline-' + payment_type.id">{{ payment_type.name }}</label>
						</div>
					</label>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="payment-form">
		<div class="payment-form__element">
			<div class="payment-form__content">
				<div class="form-group">
					<label class="form-label" for="payer-name">Payer name</label>
					<input
						class="form-control"
						id="payer-name"
						maxlength="256"
						name="payer_name"
						type="text"
						[(ngModel)]="data.payer_name"
						(change)="onInputPropertyChange($event)">
				</div>
			</div>
		</div>

		<div class="payment-form__element">
			<div class="payment-form__content">
				<div class="form-group">
					<label class="form-label" for="amount">Amount</label>
					<input class="form-control"
			            id="amount" name="amount"
			            type="text"
			            [(ngModel)]="data.amount"
			            (change)="onInputPropertyChange($event)">
				</div>
			</div>
		</div>
	</div>

	<div class="payment-form" [hidden]="data.payment_type !== 1">
		<div class="payment-form__element">
			<div class="payment-form__content">
				<div class="form-group">
					<label class="form-label" for="cheque-number">Cheque number</label>
					<input class="form-control"
			            id="cheque-number"
			            maxlength="6"
			            name="instrument_number"
			            type="text"
			            [(ngModel)]="data.instrument_number"
			            (change)="onInputPropertyChange($event)">
				</div>
			</div>
		</div>
	</div>

	<div class="payment-form" [hidden]="data.payment_type !== 4">
		<div class="payment-form__element">
			<div class="payment-form__content">
				<div class="form-group">
					<label class="form-label" for="postal-order-type">Postal order number</label>
					<input class="form-control"
			            id="postal-order-type"
			            maxlength="6"
			            name="postal_order_type"
			            type="text"
			            [(ngModel)]="data.postal_order_type"
			            (change)="onInputPropertyChange($event)">
				</div>
			</div>
		</div>
	</div>

	<div class="payment-form" [hidden]="data.payment_type !== 6">
		<div class="payment-form__element">
			<div class="payment-form__content">
				<div class="form-group">
					<label class="form-label" for="allpay-transaction-id">AllPay transaction ID</label>
					<input class="form-control"
			            id="allpay-transaction-id"
			            maxlength="6"
			            name="allpay_transaction_id"
			            type="text"
			            [(ngModel)]="data.allpay_transaction_id"
			            (change)="onInputPropertyChange($event)">
				</div>
			</div>
		</div>
	</div>


	<div class="form-group">
		<div class="form-group__content">
			<div class="button-grid">
				<div class="button-grid__button">
					<button class="button button-add" [disabled]="filledContent === true">
						View payments log
					</button>

					<button class="button button-view" (click)="onFormSubmission()">
						Add to payments log
					</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!--
<pre style="border: 1px solid #cccccc;">
	{{ data | json }}
</pre> -->
