.form-group {}
.form-group__content { max-width: 650px; }
.form-group__content::after { clear: both; content: ''; display: table; }
.form-group__payment-type { float: left; width: 50%; }
.form-group__payment-type > label { display: inline-block; padding: 10px 0; }


.payment-form { max-width: 750px; }
.payment-form::after { clear: both; content: ''; display: table; }
.payment-form__element { float: left; width: calc(100%/3); }
.payment-form__element label { font-size: 15px; font-weight: bold; }
.payment-form__element input[type=text] { width: 100%; }
.payment-form__content { padding: 10px; }
.payment-form__element:first-of-type .payment-form__content { padding-left: 0; }


.button-grid {}
.button-grid__button .button-add { background: #2B8CC4; margin-right: 25px; }
.button-grid__button .button-view {  }
.button-grid__button [disabled] { opacity: .5; }

#amount { text-align: right; }