.text-36 {
  font-size: 36px;
}

.text-19 {
  font-size: 19px;
}

.text-24 {
  font-size: 24px;
}

.bold {
  font-weight: 700;
}

.card-container {
  padding-left: 0;

  p {
    height: 25px;
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.card-holder {
  float: left;
  p.heading-small { margin: 0; padding: 0; padding-top: 15px; }
}
