<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-one-half">
      <div class="page-header page-header--pb100">
        <div class="page-header__title">
          <h1 class="heading-xlarge">{{fullName}}</h1>
          <div class="subtitle">Payments to review</div>
        </div>
      </div>
    </div>

    <div class="column-one-half">
      <div class="page-header page-header--pb100" *ngIf="status === 'PA'">
        <app-card number="0" label="Rejected" [white]="true"></app-card>
        <app-card number="0" label="Approved" [white]="true"></app-card>
      </div>

      <div class="payment-count" *ngIf="status === 'A'">
        <app-card number="0" label="Transferred" [white]="true"></app-card>
        <app-card number="0" label="Rejected" [white]="true"></app-card>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="grid-row">
    <div class="column-one-third vertical-menu">
      <a
        [ngClass]="{ 'active': (paymentAction.action === 'Process'), 'disabled': paymentAction.disabled }"
        *ngFor="let paymentAction of paymentActions$ | async; let i = index"
        (click)="getPaymentActionCount(paymentAction)">
        {{ paymentAction.action }}
        <span *ngIf="paymentAction.action === 'Process'; else defaultActionCount">({{ numOfPaymentInstructions }})</span>
        <ng-template #defaultActionCount>(0)</ng-template>
      </a>
    </div>

    <div class="column-two-thirds">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
