<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-one-half">
      <div class="page-header page-header--pb100">
        <div class="page-header__title">
          <h1 class="heading-xlarge">{{fullName}}</h1>
          <div class="subtitle">Payments to review</div>
        </div>
      </div>

      <div class="column-one-half">
        <div class="page-header page-header--pb100" *ngIf="status === 'PA'">

          <app-card number="0" label="Approved"></app-card>
          <app-card number="0" label="Rejected"></app-card>

        </div>

        <div class="payment-count" *ngIf="status === 'A'">
          <app-card number="0" label="Rejected"></app-card>
          <app-card number="0" label="Transferred"></app-card>
        </div>
      </div>
    </div>

    <br /><br />

    <div class="grid-row">
      <div class="column-one-third vertical-menu">
        <a class="active">Process ({{numOfPaymentInstructions}})</a>
        <a>Suspense (0)</a>
        <a>Suspense deficiency (0)</a>
        <a>Return (0)</a>
        <a>Refund (0)</a>
        <a>Suspense out (0)</a>
        <a class="disabled">Replacment</a>
      </div>

      <div class="column-two-thirds">
        <router-outlet></router-outlet>
        <!-- <app-stats
          [stats]="stats"
          [title]="'Process'"
          [total]="sumValueOfPaymentInstructions"></app-stats> -->
      </div>

    </div>
  </div>
