<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-one-half">
      <div class="page-header page-header--pb100">
        <div class="page-header__title">
          <h1 class="heading-xlarge">{{fullName}}</h1>
          <div class="subtitle">Payments to review {{status}}</div>
        </div>
      </div>
    </div>

    <div class="column-one-half">
      <!-- <div class="page-header page-header--pb100" *ngIf="status === 'PA'">
        <app-card [number]="sfrejectedItems$ | async" label="Rejected1" [white]="true"></app-card>
        <app-card [number]="sfapprovedItems$ | async" label="Approved1" [white]="true"></app-card>
      </div> -->

      <div class="page-header page-header--pb100" *ngIf="status === 'PA'">
        <app-card [number]="sfrejectedItems$ | async" label="Rejected" [white]="true"></app-card>
        <app-card [number]="sfapprovedItems$ | async" label="Approved" [white]="true"></app-card>
      </div>

      <div class="payment-count" *ngIf="status === 'A'">
        <app-card [number]="approvedItems$ | async"  label="Transferred" [white]="true"></app-card>
        <app-card [number]="rejectedItems$ | async"  label="Rejected" [white]="true"></app-card>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="grid-row">
    <div class="column-one-third vertical-menu">
      <app-action-filter
        [actions]="(paymentActions$ | async)"
        [selectedAction]="activeAction"
        [actionStats]="stats"
        (onActionSelect)="makeActionActive($event)"
        ></app-action-filter>
    </div>

    <div class="column-two-thirds">
      <app-stats *ngIf="stats && showStats"
        [content]="stats"
        [action]=activeAction
        (onCardClicked)=loadDetails($event)>
      </app-stats>
      <app-details *ngIf="showDetails"
        [searchQuery]=query
        [action]=activeAction
        (onSuccessfulSave)=reloadStats($event)>
      </app-details>
    </div>
  </div>
</div>
