<h1 class="heading-xlarge">
	Login to your account
	<span class="heading-secondary"></span>
</h1>

<form class="login-form" #barform="ngForm" (submit)="onSubmit($event)">
	<div class="form-group">
		<label class="form-label" for="login-email">E-Mail</label>
		<input class="form-control" id="login-email" name="login-email" required type="text" [(ngModel)]="model.email" #email="ngModel">
	</div>
	<div class="alert" [hidden]="!email.invalid">
		<p class="alert__message alert__message--danger">E-Mail field is required</p>
	</div>

	<div class="form-group">
		<label class="form-label" for="login-password">Password</label>
		<input class="form-control" id="login-password" name="login-password" required type="password" [(ngModel)]="model.passw" #passw="ngModel">
	</div>

	<div class="alert" [hidden]="!email.invalid">
		<p class="alert__message alert__message--danger">Password field is required</p>
	</div>

	<p>
		<input class="button" type="submit" value="Login" [disabled]="!barform.form.valid">
	</p>
</form>
