.detail {
  background: #f1f1f1;

  &__title {
    margin: 0;
    padding: 0;
  }

  &__info-action {
    background: #f1f1f1;
  }

  .left-side {
    float: left;
    padding: 5px 0;
    width: 75%;
  }
  .right-side {
    float: left;
    width: 25%;
  }

  .button-grid {
    text-align: right;
  }

  .button-cancel {
    background: #DEE0E2;
    color: #0B0C0C;
  }

}
