<div class="detail">
  <h2 class="detail__title heading-large">Process</h2>
  <p><a (click)="goBack()">Summary View</a></p>
  <div class="detail__info-action">
    <div class="left-side">
      <p><strong>Cheque &amp; postal order total: &pound;1,625.00</strong> - BGC Slip No.: 564390</p>
    </div>

    <div class="right-side">
      <div class="button-grid">
        <div class="button-grid__button">
          <button class="button button-cancel" type="button">Reject</button>
        </div>
        <div class="button-grid__button">
          <button class="button button-view" type="submit">Transfer</button>
        </div>
      </div>
    </div>
  </div>
</div>
