.modal-window {
	background: #28A197; 
	color: #F8F8F8; 
	height: auto;
	left: 50%; 
	margin-left: -250px;
	margin-top: -100px;
	position: fixed; 
	top: 50%; 
	text-align: center;
	width: 500px;
	z-index: 9999;
}

.modal-window__content {
	padding: 20px;
}