<div class="multiple-choice">
  <input id="refund" name="refund" type="checkbox" (change)="refundButtonClicked($event)" [disabled]="isButtonDisabled()">
  <label for="refund">Add refund</label>
</div>
<div class="remimssion-section" [hidden]="!isRemissionVisible">
  <div class="form-group">
      <label class="form-label" for="remission-amount"><span class="heading-small">Remission amount</span></label>
      <input style="width: 178px" 
        id="refund-amount"
        placeholder=""
        type="text"
        name="refund-amount"
        appNumbersOnly="true"
        [(ngModel)]="refundAmount"
        (input)="onRefundAmountChange($event.target.value)">
  </div>
</div>
