<div class="action-payment-text" *ngIf="editorOpen">
  <label class="form-label" for="refund-amount">
    <span class="heading-small">Refund amount</span>
  </label>
  <input class="form-control action-payment-text"
    id="refund-amount"
    placeholder=""
    type="text"
    name="refund-amount"
    appNumbersOnly="true"
    [(ngModel)]="refundAmount"
    (input)="onRefundAmountChange($event.target.value)">
</div>

<input class="button button-action" [disabled]="isButtonDisabled()"
  type="button" value="{{ buttonText }}" (click)="refundButtonClicked()">
