{% extends "layout.njk" %}

{% set title = t('Add Post Data') %}
{% set heading = t( title ) %}

{% block content %}

<div class="grid-row">
  <div class="column-one-third">
    <div class="govuk-box-highlight">
      <p>Oops, we have a problem.</p>
      <p class="font-large">
        {{ error.message }}
      </p>
    </div>
  </div>
</div>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/services.js"></script>
{% endblock %}
