{% extends "layout.njk" %}
{% from "includes/macros/form.njk" import errorSummary, selectInline %}

{% set title = t('Add Post Data') %}
{% set heading = t( title ) %}

{% block content %}

<div class="grid-row">
  <div class="column-one-half">
    <h4 class="heading-medium">Date: 18 / 10 / 2017</h4>
    <h2 class="heading-large">Welcome Postman Pat</h2>
  </div>
</div>

<hr />

<div>
  <input name="sub-services-dump" type="hidden" value="{{ values | dump }}">
</div>

<form action id="service-form" method="POST">
  <div class="grid-row">
    <div class="column-one-half">
      <div class="form-group">
        <label class="form-label-bold" for="service">Select Service Type</label>
        <span class="error-message"></span>
        <select class="form-control form-control--bar" id="service" name="service">
          {% for service in services %}
          <option value="{{ service.id }}">{{ service.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="sub_service">Select Sub-service</label>
        <span class="error-message"></span>
        <select class="form-control form-control--bar" id="sub_service" name="sub_service">
          {% for preSelectedSubService in preSelectedSubServices %}
          <option value="{{ preSelectedSubService.id }}">{{ preSelectedSubService.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="payment_type">Select Payment type</label>
        <span class="error-message"></span>
        <select class="form-control form-control--bar" id="payment_type" name="payment_type">
          {% for paymentType in paymentTypes %}
            {% if paymentType.id === 1 or paymentType.id === 2 %}
              <option value="{{ paymentType.id }}">{{ paymentType.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="payee_name">Please enter payee name</label>
        <span class="error-message"></span>
        <input class="form-control form-control--bar" id="payee_name" maxlength="156" name="payee_name" type="text" />
      </div>
    </div>

    <div class="column-one-half">
      <div class="paymentType-option">

        <!-- start: only show for cheque -->
        <div id="cheque-details">
          <div class="form-group">
            <label class="form-label-bold" for="cheque_number">Enter cheque number</label>
            <span class="error-message"></span>
            <input class="form-control form-control--bar" id="cheque_number" maxlength="6" name="cheque_number" type="text" />
          </div>
          <div class="form-group">
            <label class="form-label-bold" for="sort_code">Enter cheque sort code</label>
            <span class="error-message"></span>
            <input class="form-control form-control--bar" id="sort_code" maxlength="6" name="sort_code" type="text" />
          </div>
          <div class="form-group">
            <label class="form-label-bold" for="account_number">Enter account number</label>
            <span class="error-message"></span>
            <input class="form-control form-control--bar" id="account_number" maxlength="8" name="account_number" type="text" />
          </div>
        </div>
        <!-- end: only show for cheque -->

        <!-- start: only show for cash -->
        <div id="cash-details"></div>
        <!-- end: only show for cash -->

        <div class="form-group">
          <label class="form-label-bold" for="amount">Enter amount</label>
          <span class="error-message"></span>
          <input class="form-control form-control--bar" id="amount" name="amount" type="text" />
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="grid-row">
    <div class="column-one-quarter">
      <input class="button" name="add_to_log" type="submit" value="Add to log">
    </div>
  </div>
</form>

<br/>

<div class="grid-row">
  <div class="column-full">
    <table class="">
      <thead class="">
        <tr>
          <th scope="col" data-key="_start_at" class="date" aria-sort="" role="columnheader">
            <a class="js-sort" role="button">ID <span
              class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>

          <th scope="col" data-key="_payee_name" class="date" aria-sort="" role="columnheader">
            <a class="js-sort" role="button">Payee Name <span
              class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>

          <th>
            <a class="js-sort" role="button">Sub-service <span
              class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>

          <th>
            <a class="js-sort" role="button">Payment Type <span
              class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>

          <th>
            <a class="js-sort" role="button">Sort Code <span
              class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>

          <th>
            <a class="js-sort" role="button">Account Number
              <span class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>

          <th>
            <a class="js-sort" role="button">Cheque Number <span
              class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>

          <th>
            <a class="js-sort" role="button">Amount <span
              class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>

          <th>
            <a class="js-sort" role="button">Status <span
              class="js-click-sort visuallyhidden">Click to sort</span></a>
          </th>
        </tr>
      </thead>

      <tbody id="table-body">
        {% for post in posts %}
        <tr>
          <td>{{ 'X001' }}</td>
          <td>{{ post.payee_name }}</td>
          <td>{{ post.cases[0].sub_service.name }}</td>
          <td>{{ post.payment_type.name }}</td>
          <td>{{ post.sort_code.join('') }}</td>
          <td>{{ post.account_number }}</td>
          <td>{{ post.cheque_number }}</td>
          {% if post.currency === "GBP" %}
            <td>&pound;{{ (post.amount / 100).toFixed(2) }}</td>
          {% elif post.currency === "EUR" %}
            <td>&euro;{{ (post.amount / 100).toFixed(2) }}</td>
          {% endif %}
          <td>Draft</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<br/>

<div class="grid-row">
  <div class="column-one-quarter">
    <a class="button button-start" href="#" role="button">Continue</a>
  </div>
</div>

{% endblock %}
