<div [hidden]="isVisible" id="feedetail-component">
  <h1 *ngIf="type === getEditTypes().UPDATE" class="heading-xlarge">Edit case and fee details</h1>
  <h1 *ngIf="type === getEditTypes().CREATE" class="heading-xlarge">Add case and fee details</h1>
  <div>
    <form>
      <div class="form-group section" style="margin-bottom: 10px" [hidden] = "!isCaseSelectorIsVisible()">
        <div class="multiple-choice">
          <input id="prev-case" name="prev-case" type="checkbox" [(ngModel)]="caseSelectorOn">
          <label for="prev-case">Same as previous case</label>
        </div>
      </div>
      <div id="caseInputSection" class="form-group" *ngIf="!caseSelectorOn" [ngClass]="{'form-group-error': !validator.caseReference}">
        <label class="form-label" for="case-reference">
          <span class="heading-small">Case number</span>
          <span class="error-message">{{ validator.errors.caseReference }}</span>
        </label>
        <input required class="form-control short-input" id="case-reference" type="text" name="case-reference" [(ngModel)]="case_reference">
      </div>
      <div id="caseSelectSection" class="form-group" *ngIf="caseSelectorOn" [ngClass]="{'form-group-error': !validator.caseReference}">
          <label class="form-label" for="case-reference-selector">
            <span class="heading-small">Case number</span>
            <span class="error-message">Enter case number</span>
          </label>
        <select required class="form-control short-input" name="case-reference-selector" id="case-reference-selector" [(ngModel)]="case_reference">
          <option *ngFor="let case of previousCases" value="{{case}}">{{case}}</option>
        </select>
      </div>
      <div id="selectJurisdiction1" class="form-group">
        <label class="form-label">
          <span class="heading-small">Find a Fee</span>
          <p>Filter Results</p>
        </label>
        <label class="form-label">
            <p id="jurisdiction1Select" class="jurisdiction-parent" (click)="toggleJurisdiction(jurisdictions.list1)"><span [ngClass]="{ 'arrow-rotate': jurisdictions.list1.show }">&#9658;</span> Jurisdiction 1</p>
        </label>
        <div [hidden]="!jurisdictions.list1.show">
          <div class="multiple-choice" *ngFor="let jurisdiction of jurisdictions.list1.data; let i = index">
            <input [id]="formatJurisdictionId(jurisdiction)"
                name="jurisdiction1"
                type="radio"
                (click)="onSelectJurisdiction1Type($event)"
                [value]="jurisdiction" />
              <label for="radio-inline-1">{{jurisdiction}}</label>
          </div>
        </div>
      </div>
      <div id="selectJurisdiction2" class="form-group">
        <label class="form-label">
            <p id="jurisdiction2Select" class="jurisdiction-parent" (click)="toggleJurisdiction(jurisdictions.list2)"><span [ngClass]="{ 'arrow-rotate': jurisdictions.list2.show }">&#9658;</span> Jurisdiction 2</p>
        </label>
        <div [hidden]="!jurisdictions.list2.show">
          <div class="multiple-choice" *ngFor="let jurisdiction2 of jurisdictions.list2.data; let i = index">
            <input [id]="formatJurisdictionId(jurisdiction2)"
                name="jurisdiction2"
                type="radio"
                (click)="onSelectJurisdiction2Type($event)"
                [value]="jurisdiction2" />
              <label for="radio-inline-1">{{jurisdiction2}}</label>
          </div>
        </div>
      </div>
      <div id="feeSelectorSection" class="form-group" [hidden]="!feeSelectorOn" [ngClass]="{'form-group-error': !validator.feeDetail}">
        <label class="form-label" for="feeSearch">
          <span class="heading-small">Search for a Fee</span>
          <span class="form-hint">
            You don't need to use the whole fee code or description, e.g CH43, Appeal
          </span>
          <span class="error-message">Select a fee</span>
        </label>
        <div class="search-fees__form">
          <input
            class="form-control long-input"
            id="feeSearch"
            [(ngModel)]="searchQuery"
            placeholder=""
            name="feeSearch"
            type="text"
            (keyup)="onKeyUpFeeCodesAndDescriptions($event)"
            #feeSearch="ngModel">
        </div>
      </div>
      <div class="fee-search" [hidden] = "!selectorVisible || !feeSelectorOn">
        <table>
          <thead>
            <tr>
              <th>Code</th>
              <th>Description</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let feeCode of feeCodesSearch; let i = index">
              <td>{{ feeCode.code }}</td>
              <td>{{ feeCode.current_version.description }}</td>
              <td>{{ formatAmount(feeCode.getAmount()) }}</td>
              <td><a (click)="selectFee(feeCode)" class="fee-action" [id]="'feeCodeSearch' + i">Select</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="current-fee">
        <div class="header">
          <div class="column">
            Fee details
          </div>
          <div class="column" style="text-align: right;">
            <a (click)="toggleFeeSelector()" [hidden]="feeSelectorOn">Edit</a>
          </div>
        </div>
        <div class="row">
            <div class="column" style="width: 20%">
              Code:
            </div>
            <div class="column">
              {{feeDetail.fee_code}}
            </div>
          </div>
        <div class="row">
          <div class="column" style="width: 20%">
            Description:
          </div>
          <div class="column">
            {{feeDetail.fee_description}}
          </div>
        </div>
        <div class="row">
          <div class="column" style="width: 20%">
            Amount:
          </div>
          <div class="column" style="width: 20%" *ngIf="feeDetail.showEditableAmount" [ngClass]="{'form-group-error': !validator.feeDetailAmount}">
            <div *ngIf="!validator.feeDetailAmount" [ngClass]="{'error-message': !validator.feeDetailAmount}">Enter fee amount</div>
            <input appNumbersOnly="true" class="form-control short-input" id="fee-amount" type="text" name="fee-amount" [(ngModel)]="feeDetailAmount" placeholder="Enter calculated amount">
          </div>
          <div class="column" style="width: 20%" *ngIf="feeDetail.showFixedAmount">
            {{feeDetail.amount | currency:'GBP':'symbol':'2.2' }}
          </div>
        </div>
      </div>
      <div *ngIf="remissionAndRefundSectionVisible()">
        <div class="form-group section" style="margin-bottom: 10px">
          <div class="multiple-choice">
            <input id="remission" name="remission" type="checkbox" [(ngModel)]="isRemissionVisible" (change)="toggleRemission($event)">
            <label for="remission">Add remission</label>
          </div>
        </div>
        <div id="remission-section" class="remission-section" [hidden]="!isRemissionVisible">
          <div class="form-group">
              <label class="form-label" for="remission-benefitier"><span class="heading-small">Remission benefiter</span> (optional)</label>
              <input style="width: 366px" class="form-control" id="remission-benefitier" type="text" name="remission-benefitier" [(ngModel)]="feeDetail.remission_benefiter">
          </div>
          <div id="remission-amount-section" class="form-group" [ngClass]="{'form-group-error': !validator.remissionAmount}">
              <label class="form-label" for="remission-amount">
                <span class="heading-small">Remission amount</span>
                <div *ngIf="validator.errors.remissionAmount" [ngClass]="{'error-message': !validator.remissionAmount}">
                <span class="error-message">{{ validator.errors.remissionAmount }}</span>
                </div>
              </label>
              <input appNumbersOnly="true"
                     class="form-control short-input"
                     id="remission-amount"
                     type="text"
                     name="remission-amount"
                     [(ngModel)]="remission_amount">
          </div>

          <div id="remission-authorisation-section" class="form-group" [ngClass]="{'form-group-error': !validator.remissionAuthorization}">
              <label class="form-label" for="remission-authorisation">
                <span class="heading-small">Remission authorisation</span>
                <div *ngIf="!validator.remissionAuthorization" [ngClass]="{'error-message': !validator.remissionAuthorization}">
                  <span class="error-message">{{ validator.errors.remissionAuthorisation }}</span>
                </div>
              </label>
              <input class="form-control short-input"
                     id="remission-authorisation"
                     type="text"
                     name="remission-authorisation"
                     required
                     [(ngModel)]="remission_authorisation">
          </div>
        </div>
        <div appVisible feature="payment-actions-refund">
          <div class="form-group section">
            <div class="multiple-choice">
              <input id="refund" name="refund" type="checkbox" [(ngModel)]="isRefundVisible" (change)="toggleRefund($event)" [disabled]="!isRefundEnabled">
              <label for="refund">Add refund</label>
            </div>
          </div>
          <div id="refund-section" class="remission-section" [hidden]="!isRefundVisible">
            <div class="form-group">
                <label class="form-label" for="refund-amount"><span class="heading-small">Refund amount</span></label>
                <input class="form-control short-input"
                  id="refund-amount"
                  placeholder=""
                  type="text"
                  name="refund-amount"
                  appNumbersOnly="true"
                  [(ngModel)]="feeDetail.refund_amount">
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <button class="button" id="save" (click)="save()">Save</button>
      </div>
      <div class="section">
        <div><a (click)="cancel()">Cancel</a></div>
      </div>
    </form>
  </div>
</div>
