<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-one-half">
      <h1 class="heading-xlarge">Check and submit</h1>
    </div>

    <div class="column-one-half">
      <div class="payment-count">
        <app-card [number]="numberOfItems" label="To Check" white="true"></app-card>
        <app-card [number]="pendingApprovalItems" label="Submitted" white="true"></app-card>
      </div>
    </div>
  </div>

  <br/><br/>

  <div class="grid-row">
    <div class="column-full">
      <div>
        <p class="text-right">
          <a class="button" role="button" id="submit-button" (click)="onSubmission()">Submit</a>
        </p>
      </div>
      <table class="check-and-submit" id="check-and-submit-table">
        <thead>
        <tr>
          <th>Payment ID</th>
          <th>Date</th>
          <th>Name</th>
          <th>Payment type</th>
          <th>Payment amount</th>
          <th>Case number</th>
          <th>Fees</th>
          <th>Remission</th>
          <th>Refund</th>
          <th>Action</th>
          <th>
            All
            <div class="multiple-choice">
              <input [id]="'payment-instruction-all'"
                name=""
                type="checkbox"
                (click)="onSelectAll()"
                [(ngModel)]="toggleAll">
              <label [for]="'payment-instruction-all'"></label>
            </div>
          </th>
        </tr>
        </thead>
        <tbody *ngIf="(checkAndSubmitModels$ | async)?.length">
        <tr *ngFor="let checkAndSubmitModel of (checkAndSubmitModels$ | async); let i = index;">
          <td>
            <ng-container *ngIf="checkAndSubmitModel.getProperty('paymentId') !== '-'; else noValue">
              <a [routerLink]="'/feelog/edit/' + checkAndSubmitModel.getProperty('paymentId')" [id]="'paymentInstruction' + i">
                {{ checkAndSubmitModel.getProperty('dailySequenceId') }}
              </a>
            </ng-container>
            <ng-template #noValue></ng-template>
          </td>
          <td>{{ (checkAndSubmitModel.getProperty('date') !== '-') ? (checkAndSubmitModel.getProperty('date') |
            date:'d/M/yy') : '-' }}
          </td>
          <td>{{ checkAndSubmitModel.getProperty('name') }}</td>
          <td>{{ checkAndSubmitModel.getProperty('paymentType').name }}</td>
          <td>{{ checkAndSubmitModel.getProperty('paymentAmount') }}</td>
          <td>{{ checkAndSubmitModel.getProperty('caseReference') }}</td>
          <td>{{ checkAndSubmitModel.getProperty('fee') }}</td>
          <td>{{ checkAndSubmitModel.getProperty('remission') }}</td>
          <td>{{ checkAndSubmitModel.getProperty('refund') }}</td>
          <td>{{ checkAndSubmitModel.getProperty('action') }}</td>
          <td>
            <div class="multiple-choice" *ngIf="checkAndSubmitModel.getProperty('paymentId') !== ''">
              <input [id]="'paymentInstructionModel' + i"
                (click)="onToggleChecked(checkAndSubmitModel)"
                [(ngModel)]="checkAndSubmitModel.checked"
                type="checkbox">
              <label [for]="'paymentInstructionModel' + i"></label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
