<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-one-half">
      <h1 class="heading-xlarge">Check and submit</h1>
    </div>

    <div class="column-one-half">
      <div class="payment-count">
      </div>
    </div>
  </div>

  <br/>

  <div class="bar-row">
    <div class="bar-column bar-column-one-quarter">

      <div class="action-filter-block">
        <app-action-filter
          [actions]="(paymentActions$ | async)"
          [selectedAction]="(selectedAction$ | async)"
          (onActionSelect)="switchPaymentInstructionsByAction($event)"
          ></app-action-filter>
      </div>

    </div>

    <div class="bar-column bar-column-three-quarter">
      <div class="content content--pt0">

        <h2 class="heading-large">{{ (selectedAction$ | async)?.action }}</h2>
        <app-payment-instruction-grid
          [models]="(paymentInstructions$ | async)"></app-payment-instruction-grid>

      </div>
    </div>
  </div>

</div>
