<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-one-half">
      <h3 class="heading-large pt-0">Check and submit</h3>
    </div>
    
    <div class="column-one-half">
      <div class="payment-count">
        
        <div class="payment-count__card">
          <div class="content">
            <h3>2</h3>
            <p>to check</p>
          </div>
        </div>
        
        <div class="payment-count__card">
          <div class="content">
            <h3>0</h3>
            <p>submitted</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <br /><br />

  <div class="grid-row">
    <div class="column-full">

      <table class="check-and-submit">
        <thead>
          <tr>
            <th>Payment ID &#9660;</th>
            <th>Date &#9660;</th>
            <th>Name &#9660;</th>
            <th>Income Type &#9660;</th>
            <th>Income amount &#9660;</th>
            <th>Case number&#9660;</th>
            <th>Fees &#9660;</th>
            <th>Remission &#9660;</th>
            <th>Refund &#9660;</th>
            <th>Action &#9660;</th>
            <th>Status &#9660;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a routerLink="'1'">12344</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>