<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-one-half">
      <h3 class="heading-large pt-0">Check and submit</h3>
    </div>

    <div class="column-one-half">
      <div class="payment-count">

        <div class="payment-count__card">
          <div class="content">
            <h3>{{ toCheck }}</h3>
            <p>to check</p>
          </div>
        </div>

        <div class="payment-count__card">
          <div class="content">
            <h3>0</h3>
            <p>submitted</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <br /><br />

  <div class="grid-row">
    <div class="column-full">

      <table class="check-and-submit">
        <thead>
          <tr>
            <th>#ID &#9660;</th>
            <th>Date &#9660;</th>
            <th>Name &#9660;</th>
            <th>Payment type &#9660;</th>
            <th>Payment amount &#9660;</th>
            <th>Case number &#9660;</th>
            <th>Fees &#9660;</th>
            <th>Remission &#9660;</th>
            <th>Refund &#9660;</th>
            <th>Action &#9660;</th>
            <th>Status &#9660;</th>
            <th>All &#9660;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let piModel of casModels">
            <td>
              <ng-container *ngIf="piModel.getProperty('paymentId') !== '-'; else noValue">
                <a [routerLink]="'/feelog/edit/' + piModel.getProperty('paymentId')">
                  {{ piModel.getProperty('paymentId') }}
                </a>
              </ng-container>
              <ng-template #noValue>-</ng-template>
            </td>
            <td>{{ (piModel.getProperty('date') !== '-') ? (piModel.getProperty('date') | date:'d/M/yy') : '-' }}</td>
            <td>{{ piModel.getProperty('name') }}</td>
            <td>{{ piModel.getProperty('paymentType').name }}</td>
            <td>{{ piModel.getProperty('paymentAmount') }}</td>
            <td>{{ piModel.getProperty('caseReference') }}</td>
            <td>{{ piModel.getProperty('fee') }}</td>
            <td>{{ piModel.getProperty('remission') }}</td>
            <td>{{ piModel.getProperty('refund') }}</td>
            <td>{{ piModel.getProperty('action') }}</td>
            <td>{{ piModel.getProperty('status') }}</td>
            <td>
              <div class="multiple-choice" *ngIf="piModel.getProperty('paymentId') !== '-'">
                <input [id]="'payment-instruction-' + piModel.getProperty('paymentId')" name="" type="checkbox" [value]="piModel.getProperty('paymentId')">
                <label [for]="'payment-instruction-' + piModel.getProperty('paymentId')"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
