<div class="content-wrapper">
  <app-hmcts-modal [hidden]="!showModal">
    <div *ngIf="!dateSelectorVisible" id="report_modal">
      <h3 class="heading-medium">{{modalHeaderTxt}}</h3>
      <div *ngIf="loading">
        Loading...<br />
        <em class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></em>
        <span class="sr-only">Loading...</span>
      </div>
      <div *ngIf="!loading && !remoteError" id="statSection">
        all uploads: {{payhubReport.total}} <br/>
        successful: {{payhubReport.success}}
      </div>
      <div *ngIf="!loading && remoteError" id="errorSection" [innerHTML]="remoteError">
      </div>

      <div class="return-block">
        <button class="button" id="submitModal" [disabled] = "loading" (click)="returnUploadModal()">{{modalApproveButtonTxt}}</button>
      </div>
    </div>
    <div *ngIf="dateSelectorVisible" id="date_selector_modal">
      <h3 class="heading-medium">Transaction reporting date</h3>
      <div>
        Select Transaction Reporting Date
      </div>
      <div class="form-group">
        <input class="form-control" id="transferDate" type="date" [(ngModel)]=transferDate [max]="dateTill" />
      </div>
      <div class="return-block">
        <button class="button payment-btn-space" id="closeModalBtn" (click)="closeModal()">Cancel</button>
        <button class="button" id="confirmButton" [disabled]="confirmDisabled" (click)="onClickConfirm()">Confirm</button>
      </div>
    </div>
  </app-hmcts-modal>

  <div class="grid-row">
    <div class="column-full">
      <div class="page-header">
        <div class="page-header__title">
          <h1 class="heading-xlarge">Payments overview</h1>
        </div>
      </div>

      <br/>

      <div class="page-header__counts">
        <div class="payment-count">
          <app-card [number]="count.transferredToBar" label="Transferred to BAR" white="true"></app-card>
          <app-card [number]="count.pendingApproval" label="Pending Approval" white="true"></app-card>
          <app-card [number]="count.pendingReview" label="Pending Review" white="true"></app-card>
          <app-card [number]="count.validated" label="Validated" white="true"></app-card>
          <app-card [number]="count.pending" label="Pending" white="true"></app-card>
          <app-card [number]="count.draft" label="Recorded" white="true"></app-card>
        </div>
      </div>

    </div>
  </div>

  <br/>

  <div class="row">
    <div class="column-full">

      <div class="tabular-grid">
        <div class="tabular-grid__one-quarter">
          <div class="payment-overview-filter">
            <h4 class="heading-small">Filter by</h4>
            <hr/>
          </div>
        </div>

        <div class="tabular-grid__three-quarters">
          <div class="app-tabs">
            <ul class="app-tabs__links">
              <li><a [class]="(openedTab === 1) ? 'selected no-underline' : 'no-underline'" (click)="changeTabs( 1 )">Recorded</a>
              </li>
              <li><a [class]="(openedTab === 2) ? 'selected no-underline' : 'no-underline'" (click)="changeTabs( 2 )">Pending
                review</a></li>
              <li><a [class]="(openedTab === 3) ? 'selected no-underline' : 'no-underline'" (click)="changeTabs( 3 )">Pending
                approval</a></li>
              <li><a [class]="(openedTab === 4) ? 'selected no-underline' : 'no-underline'" (click)="changeTabs( 4 )">Transfer
                to BAR</a></li>
            </ul>

            <div class="app-tabs__content">
              <div *ngIf="(openedTab === 1) ? 'selected' : ''" (click)="changeTabs( 1 )">
                <p>Recorded</p>
              </div>

              <div *ngIf="(openedTab === 2) ? 'selected' : ''" (click)="changeTabs( 2 )">

                <table role="none">
                  <thead>
                  <tr>
                    <th scope="col">User</th>
                    <th class="text-center" scope="col">Role</th>
                    <th class="text-center" scope="col">Carry Forward</th>
                    <th class="text-center" scope="col">Validated payments</th>
                    <th class="text-center" scope="col">Yet to submit</th>
                    <th class="text-center" scope="col">Submitted</th>
                    <th class="text-center" scope="col">Carry forward</th>
                    <th class="text-center" scope="col">Ready to review</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let feeClerk of feeClerks">
                    <th scope="row"><a [routerLink]="feeClerk.piLink" [queryParams]="feeClerk.queryParams">{{
                      feeClerk.userFullName }}</a></th>
                    <td>{{ feeClerk.userRole }}</td>
                    <td class="text-center">0</td>
                    <td class="text-center">{{ feeClerk.validatedPayments }}</td>
                    <td class="text-center">0</td>
                    <td class="text-center">{{ feeClerk.submitted }}</td>
                    <td class="text-center">0</td>
                    <td class="text-center">{{ feeClerk.readyToReview }}</td>
                  </tr>
                  </tbody>
                </table>

              </div>


              <div *ngIf="(openedTab === 3) ? 'selected' : ''" (click)="changeTabs( 3 )">

                <table role="none"> 
                  <thead>
                  <tr>
                    <th scope="col">User</th>
                    <th class="text-center" scope="col">Role</th>
                    <th class="text-center" scope="col">Reviewed</th>
                    <th class="text-center" scope="col">Rejected</th>
                    <th class="text-center" scope="col">Approved</th>
                    <th class="text-center" scope="col">Carry forward</th>
                    <th class="text-center" scope="col">Ready to transfer to BAR</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let seniorFeeClerk of seniorFeeClerks">
                      <th scope="row"><a [routerLink]="'/users/' + seniorFeeClerk.userId + '/payment-instructions/stats'" [queryParams]="{status: status, fullName: seniorFeeClerk.userFullName}">{{ seniorFeeClerk.userFullName }}</a></th>
                      <td class="text-center">{{ seniorFeeClerk.userRole }}</td>
                      <td class="text-center">{{ seniorFeeClerk.rejected + seniorFeeClerk.approved }}</td>
                      <td class="text-center">{{ seniorFeeClerk.rejected }}</td>
                      <td class="text-center">{{ seniorFeeClerk.approved }}</td>
                      <td class="text-center">0</td>
                      <td class="text-center"><a class="review-count" [routerLink]="'/users/' + seniorFeeClerk.userId + '/payment-instructions'" [queryParams]="{status: status}">{{ seniorFeeClerk.readyToTransferToBar }}</a></td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <div *ngIf="(openedTab === 4) ? 'selected' : ''" (click)="changeTabs( 4 )">
                <table role="none">
                  <thead>
                  <tr>
                    <th scope="col">User</th>
                    <th class="text-center" scope="col">Role</th>
                    <th class="text-center" scope="col">Reviewed</th>
                    <th class="text-center" scope="col">Rejected</th>
                    <th class="text-center" scope="col">Transferred to BAR</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-bold text-center">Totals</td>
                      <td class="text-bold text-center">-</td>
                      <td class="text-bold text-center">0</td>
                      <td class="text-bold text-center">0</td>
                      <td class="text-bold text-center">{{ total }}</td>
                    </tr>
                    <tr *ngFor="let deliveryManager of deliveryManagers">
                      <th scope="row"><a>{{ deliveryManager.userFullName }}</a></th>
                      <td class="text-center">{{ deliveryManager.userRole }}</td>
                      <td class="text-center">0</td>
                      <td class="text-center">0</td>
                      <td class="text-center"><a class="review-count">{{ deliveryManager.readyToTransferToBar }}</a></td>
                    </tr>
                  </tbody>
                </table>

                <br/>

                <div>
                  <p><a class="button" id="sendToPayhubBtn" (click)="openModal()">Submit</a></p>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
