<div>

  <div class="grid-row">
    <div class="column-one-half">
      <h1 class="heading-xlarge">
        Payments List
        <span class="heading-secondary"></span>
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-quarter">
      <app-card
        label="Pending"
        [number]="countPaymentInstructionsByStatus('Pending')"
        [selected]="isCurrentStatus(paymentStatus, 'P')"
        (click)="selectPaymentStatus('Pending')"></app-card>
    </div>

    <div class="column-one-quarter">
      <app-card
        label="Rejected"
        [number]="countPaymentInstructionsByStatus('Rejected')"
        [selected]="isCurrentStatus(paymentStatus, 'REJ')"
        (click)="selectPaymentStatus('Rejected')"></app-card>
    </div>
  </div>

  <br /><br />

  <div class="form-group">
    <div class="form-group__content">
      <div class="form-group__fee-logs" *ngIf="(paymentInstructions$ | async)?.length > 0">
        <table>
          <thead>
            <tr>
              <th>Payment ID</th>
              <th>Date</th>
              <th>Payer name</th>
              <th>Payment Type</th>
              <th>Payment Reference</th>
              <th>Amount</th>
              <th>Action</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody class="bar-feelogs-th" *ngFor="let paymentInstruction of getPaymentInstructionsByStatus( paymentStatus.label ); let i = index">
            <tr class="bar-feelogs-th">
              <td class="bar-feelogs-td"><a [id]="'payment_' + i" [routerLink]="'/feelog/edit/' + paymentInstruction.getProperty('id')">{{ paymentInstruction.getProperty('daily_sequence_id') }}</a></td>
              <td class="bar-feelogs-td">{{ paymentInstruction.getProperty('payment_date') | date:'dd/MMM/yyyy' }}</td>
              <td class="bar-feelogs-td">{{ paymentInstruction.getProperty('payer_name') }}</td>
              <td class="bar-feelogs-td">{{ paymentInstruction.getProperty('payment_type').name }}</td>
              <td class="bar-feelogs-td">{{ paymentInstruction.getPaymentReference(paymentTypeEnum) }}</td>
              <td class="bar-feelogs-td amount">{{ paymentInstruction.getProperty('amount') | currency: paymentInstruction.getProperty('currency'): 2.2 }}</td>
              <td class="bar-feelogs-td">{{ paymentInstruction.getProperty('action') }}</td>
              <td class="bar-feelogs-td">{{ paymentInstruction.getProperty('status') }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="loading" *ngIf="(paymentInstructions$ | async)?.length < 1 && loading === true">
        <p>
          Loading...<br />
          <em class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></em>
          <span class="sr-only">Loading...</span>
        </p>
      </div>

      <div class="no-results-found" *ngIf="(paymentInstructions$ | async)?.length < 1 && loading === false">
        No results found
      </div>
    </div>
  </div>

</div>
