<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-one-half">
      <h1 class="heading-xlarge">
        Check and submit
        <span class="heading-secondary"></span>
      </h1>
    </div>

    <div class="column-one-half">
      <div class="payment-count">
        <app-card [number]="submittedPaymentCount$ | async" label="Submitted" white = true></app-card>
        <app-card [number]="payments_logs.length" label="To Check" white = true></app-card>
      </div>

      <div class="button-grid form-buttons">
        <div class="button-grid__button">
          <button class="gray" [disabled]="!hasChecked" (click)="onFormSubmissionDelete()">Delete</button>

          <button class="green" [disabled]="!hasChecked" (click)="onFormSubmission()">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <br/><br/>

  <div class="post-states">
    <div class="post-states__right">
      <div class="select-all">
        <div class="multiple-choice">
          <span>All</span>
          <input type="checkbox" [checked]="selectAllPosts || allPaymentInstructionsSelected" (click)="onSelectAllPosts()" id="payment-instruction-all">
          <label></label>
        </div>
      </div>
    </div>
  </div>

  <form (submit)="onFormSubmission()">
    <div class="form-group">
      <div class="form-group__content">
        <div class="form-group__payment-logs">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Payer name</th>
                <th>Payment type</th>
                <th>Amount</th>
                <th>Payment Reference</th>
                <th>Status</th>
                <th>Select</th>
              </tr>
            </thead>

            <tbody class="bar-paymentlogs-th" *ngFor="let payments_log of payments_logs; let i = index">
              <tr class="bar-paymentlogs-th">
                <td class="bar-paymentlogs-td">
                  <a [routerLink]="'/dashboard/payment/edit/' + payments_log.id" [id]="'paymentInstructionModel' + i">{{ payments_log.daily_sequence_id }}</a>
                </td>
                <td class="bar-paymentlogs-td">
                  {{ payments_log.getProperty('payment_date') | date:'dd MMM yyyy' }}
                </td>
                <td class="bar-paymentlogs-td">
                  {{ payments_log.getProperty('payer_name') }}
                </td>
                <td class="bar-paymentlogs-td">
                  {{ payments_log.getProperty('payment_type')?.name }}
                </td>
                <td class="bar-paymentlogs-td amount">
                  {{ paymentInstructionService.getAmount(payments_log.amount) }}
                </td>
                <td class="bar-paymentlogs-td">
                  {{ paymentInstructionService.getPaymentReference(payments_log) | async }}
                </td>
                <td class="bar-paymentlogs-td">
                  {{ payments_log.status }}
                </td>
                <td class="bar-paymentlogs-td">
                  <div class="multiple-choice">
                    <input type="checkbox" (click)="onAlterCheckedState(payments_log)" [checked]="payments_log.selected">
                    <label></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>

</div>
