<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-full">

      <div class="page-header page-header--pb100">
        <div class="page-header__title">
          <h3 class="heading-xlarge">Reporting</h3>
          <h5 class="heading-small">Transferred to BAR report</h5>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'form-group-error': dateError }">
        <label class="form-label" for="select-date">
          <span>Select Date</span>
          <span class="error-message" *ngIf="dateError">{{ dateError }}</span>
        </label>
        <input class="form-control" id="select-date" name="select-date" type="date" [(ngModel)]="startDate" />
        <br /><br />
        <p><a class="button" [ngClass]="{ disabled: (!startDate || dateError) }" [href]="generateReportingUrl()" target="_self">View report</a></p>
      </div>

      <br />

      <div>
        <p>
          <!--
            TODO: Use image from github gov frontend toolkit
            https://github.com/alphagov/govuk_frontend_toolkit
          -->
          <a>Download pdf version</a>
        </p>

        <p>
          <!--
            TODO: Use image from github gov frontend toolkit
            https://github.com/alphagov/govuk_frontend_toolkit
          -->
          <a>Download pdf version</a>
        </p>
      </div>

    </div>
  </div>

</div>
