<div class="content-wrapper">

  <div class="grid-row">
    <div class="column-full">
      
      <div class="page-header page-header--pb100">
        <div class="page-header__title">
          <h3 class="heading-xlarge">Reporting</h3>
          <h5 class="heading-small">Transferred to BAR report</h5>
        </div>
      </div>

      <div>
        <label class="form-label" for="select-date">
          Select Date
        </label>
        <input class="form-control" id="select-date" type="text" name="select-date">
        <br /><br />
        <p><a class="button" [href]="downloadUrl + '/payment-instructions?format=csv'" target="_self">View report</a></p>
      </div>

      <br />

      <div>
        <p>
          <!-- 
            TODO: Use image from github gov frontend toolkit 
            https://github.com/alphagov/govuk_frontend_toolkit
          -->
          <a>Download pdf version</a>
        </p>

        <p>
          <!-- 
            TODO: Use image from github gov frontend toolkit
            https://github.com/alphagov/govuk_frontend_toolkit
          -->
          <a>Download pdf version</a>
        </p>
      </div>
    
    </div>
  </div>

</div>