h1 {
    height: 50px;
}

h1 > .title {
    float: left;
    width: 80%;
    height: 100%;
}

.grid-row.button{
    font-size: 1.3em;
    margin-bottom: 19px;
}

.grid-border {
    border-bottom: 1px solid
}

.grid-row {
    line-height: 2em;
    font-size: 14px;
    font-weight: 400;
}

.grid-row.grid-header {
    font-weight: 700;
    font-size: 19px;
}

.name-column {
    width: 30%;
    float: left;
}

.email-column {
    width: 40%;
    float: left;
}

.action-column {
    width: 10%;
    float: left;
}

.button-cancel {
    background: #DEE0E2;
    color: #0B0C0C;
}

.button-grid .spacer { float: left; width: 10px; }
.button-grid .button { float: left; }
.button-grid .button.button-cancel { background: #BFC1C3; margin-right: 25px; }
.button-grid .button.button-add { background: #2B8CC4; margin-right: 25px; }
.button-grid [disabled] { opacity: .5; }
.admin-btn-link p button{right: 10px;}
.admin-btn-link p a{left: 8px;}

.subline {
margin-bottom: 30px;
font-size: 1.5rem;
line-height: 1.25;
color: #0b0c0c;
font-family: "GDS Transport", Arial, sans-serif;
-webkit-font-smoothing: antialiased;
font-weight: 400;
margin-top: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.heading-medium{
    font-weight: 400;
}

.govuk-body-s{
    font-size: 1.3em;
}

.text-capital {text-transform: capitalize;}
