table th, table td {
	font-size: 16px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.no-results-found { text-align: center; color: red; font-weight: bold; font-size: 40px}

.no-wrap {
    white-space: nowrap;
}
