.feelog-main-component {
    position: relative;
}
.fee-details thead tr th, .fee-details tbody tr td { text-align: left; }
.fee-search {
    width: 622px;
    overflow-y: scroll;
    height: 235px;
    padding-right: 5px;
    position: absolute;
    background-color: white;
    z-index: 1;
}
.fee-search thead tr th, .fee-search tbody tr td {
    font-size: 16px;
}
.fee-details thead tr th, .fee-details tbody tr td {
    text-align: left;
}
.fee-details thead tr th:first-of-type { text-align: left; }
.payment_details { text-align: left; }
.payment_details tr:last-of-type td { border-bottom: 0; }

.action-payment-tab {  }
.action-payment-tab::after { clear: both; content: ''; display: table; }

.action-payment-tab__left,
.action-payment-tab__right { width: 50%; }

.action-payment-tab__left { float: left; }

.action-payment-item a { color: #005ea5; float: right; font-weight: normal; }
.action-payment-item span { float: left; }
.action-payment-div__right { float: right; }

.action-payment-wrapper {}
.action-payment-wrapper::after {
    clear: both;
    content: '';
    display: table;
}

.action-payment-text {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 50%;
}

.action-payment-text:nth-of-type(odd) {
    padding-left: 0;
}

.action-payment-text:last-of-type {
    padding-right: 0;
}

.action-payment-text .form-control {
    padding: 10px;
    width: 100%;
}

.action {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.action-form {
  float: left;
}

.action-select {
    display: block;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
    color: #0B0C0C;
    margin-bottom: 20px;
}

caption {
    display: none;
}

.title {
    height: 100px;
}

.title h1 {
    float: left;
}

.title .action {
    float: right;
    width: 50%;
}

.title .action label {
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #0B0C0C;
    padding-top: 3px;
}

.title .action select {
    margin-right: 20px;
}

.button-edit {
    background-color: #F8F8F8;
    color: #000;
    -webkit-box-shadow: 0px 2px 0px 0px #C0C0C0;
    -moz-box-shadow: 0px 2px 0px 0px #C0C0C0;
    box-shadow: 0px 2px 0px 0px #C0C0C0;
}

.button-edit:hover {
    background-color: #EBEBEB;
}

.button-add {
    background-color: #DEE0E2;
    color: #000;
    -webkit-box-shadow: 0px 2px 0px 0px #C0C0C0;
    -moz-box-shadow: 0px 2px 0px 0px #C0C0C0;
    box-shadow: 0px 2px 0px 0px #C0C0C0;
}

.button-revert {
    background-color: #DEE0E2;
    color: #000;
    -webkit-box-shadow: 0px 2px 0px 0px #C0C0C0;
    -moz-box-shadow: 0px 2px 0px 0px #C0C0C0;
    box-shadow: 0px 2px 0px 0px #C0C0C0;
    position: absolute;
    right: 0;
}

.button-add:hover {
    background-color: #D0D3D6;
}

.section {
    margin-top: 35px;
    margin-bottom: 35px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.remove-link {
    position: relative;
    top: -30px;
    right: -85px;
}

.fee-display-title {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

.current-fee {
    display: table;
    width: 622px;
}

.current-fee .header {
    font-weight: bold;
    display: table-header-group;
}

.current-fee .row {
    display: table-row;
}

.current-fee .column {
    padding: 10px 0 10px 0;
    display: table-cell;
    border-bottom: 1px solid;
}

.remission-section {
    padding-left: 10px;
    border-left: 5px solid gray
}

.short-input {
    width: 178px;
}

.long-input {
    width: 622px;
}

.form-group .error-message {
    display: none;
}

.form-group-error .error-message {
    display: block;
}

#submit-action-btn {
    float: left;
}

.jurisdiction-parent {
    color: #2B8CC4;
    text-decoration: underline;
}

.arrow-rotate {
    transform: rotate(90deg);
    display: inline-block;
}
