.fee-details {}
.fee-details tr {  }
.fee-details thead tr th, .fee-details tbody tr td { text-align: left; }
.fee-details thead tr th:first-of-type { text-align: left; }
.payment_details { text-align: left; }
.payment_details tr:last-of-type td { border-bottom: 0; }

.action-payment-tab {  }
.action-payment-tab::after { clear: both; content: ''; display: table; }

.action-payment-tab__left,
.action-payment-tab__right { width: 50%; }

.action-payment-tab__left { float: left; }

.action-payment-item a { color: #005ea5; float: right; font-weight: normal; }
.action-payment-item span { float: left; }
.action-payment-div__right { float: right; }

.action-payment-wrapper {}
.action-payment-wrapper::after {
    clear: both;
    content: '';
    display: table;
}

.action-payment-text {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 50%;
}

.action-payment-text:nth-of-type(odd) {
    padding-left: 0;
}

.action-payment-text:last-of-type {
    padding-right: 0;
}

.action-payment-text .form-control {
    padding: 10px;
    width: 100%;
}


caption {
    display: none;
}