<div class="fee-edit-bar">
  <div class="link arrow">
    <div class="content"><span id="goBack" (click)="goBack()">&#9668;</span></div>
  </div>

  <div class="link payment-id">
    <div class="content">
      <p *ngIf="model.id === undefined">...loading</p>
      <p *ngIf="model.id !== undefined">ID {{ model.daily_sequence_id }}</p>
    </div>
  </div>

  <div class="link unallocated-payment">
    <div class="content">
      <p>Unallocated payment: {{ getUnallocatedAmount() / 100 | currency:'GBP':'symbol':'1.2' }}</p>
    </div>
  </div>
</div>

<div class="app-tabs">
  <app-hmcts-modal [hidden]="!refundModalOn">
    <h3 class="heading-medium">Are you sure you want to refund Payment ID {{ model.daily_sequence_id }}?</h3>

    <div class="return-block">
      <p>
        <a (click)="toggleRefundModal()">Cancel</a>
        <button class="button" (click)="changeStatusToRefund()">Refund</button>
      </p>
    </div>
  </app-hmcts-modal>

  <app-hmcts-modal [hidden]="!suspenseModalOn">
    <form (submit)="onSuspenseFormSubmit($event)">
      <div class="suspense-modal">
        <div *ngIf="paymentInstructionActionModel">
            <h2 class="heading-large">Reason for suspense on ID {{ model.id }}</h2>
            <div class="form-group">
              <select class="form-control" id="select-box" name="suspense-reason" [(ngModel)]="paymentInstructionActionModel.action_reason">
                <option [value]="0" disabled="disabled" selected="true">Please select reason for suspense</option>
                <option [value]="1">Waiting on a judges decision</option>
                <option [value]="2">Waiting on further payments</option>
                <option [value]="3">Other (add comment)</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="textarea">
                Comment (optional)
              </label>
              <textarea
                class="form-control form-control-3-4"
                name="suspense-comment"
                id="textarea"
                rows="5"
                [(ngModel)]="paymentInstructionActionModel.action_comment"></textarea>
            </div>
        </div>
      </div>

      <div class="return-block">
        <p>
          <a (click)="toggleSuspenseModal()">Cancel</a>
          <button class="button">Suspense</button>
        </p>
      </div>
    </form>
  </app-hmcts-modal>

  <app-feelog-main [model]="model"
                   [actions]="(paymentActions$ | async)"
                   [(isVisible)]="mainComponentOn"
                   (onShowDetail)="makeDetailsVisible($event)"
                   (onReloadModel)="loadPaymentInstructionById($event)"
                   (onProcess)="onProcessPaymentSubmission($event)"
                   (onSuspense)="onSuspensePayment()"
                   (onWithDraw)="onWithdrawPaymentSubmission()"
                   (onReturn)="onReturnPayment()"
                   [submitActionError]="submitActionError"
                   (onPaymentReversion)="onPaymentReversion($event)"
                   (onSuspenseDeficiency)="onSuspenseDeficiency()"
                   (onWithdraw)="onWithdrawPayment()">
  </app-feelog-main>

  <app-feedetail [(isVisible)]="mainComponentOn"
                 [type]="detailPageType"
                 [feeDetail]="feeDetail"
                 [jurisdictions]="jurisdictions"
                 [currency]="model.currency"
                 [isRefundEnabled]="isRefundEnabled()"
                 [previousCases]="collectCaseReferences()"
                 (onCloseComponent)="addEditFeeToCase($event)"
                 (onAmountChange)="updateUnallocatedAmount($event)"
                 (onFeeDetailCancel)="onFeeDetailCancel()">
  </app-feedetail>
</div>
