.bar-header {}

.bar-header a { color: #ffffff;  }

.second-nav__menu {}
.second-nav__menu::after { clear: both; content: ''; display: table; }

.nav-links { float: left; }
.nav-links__right { float: right; }
