<div id="skiplink-container">
	<div>
		<a href="#content" class="skiplink">Skip to main content</a>
	</div>
</div>

<header role="banner" id="global-header" class="">
	<div class="center-content">
		<div class="bar-header">
			<ul class="bar-header__list bar-header-left">
				<li>
					<a routerLink="/" title="Go to the GOV.UK homepage" class="content">
						<span id="proposition-name">Manage HMCTS payments</span>
					</a>
				</li>
			</ul>

			<ul class="bar-header__list bar-header-right">
				<li>{{ todaysDate | date:'d/M/yy' }}</li>
				<li *ngIf="user">
					<a href="#">
						{{ user.fullName }}
						<span class="chevron chevron-down">&#9660;</span>
						<span class="chevron chevron-up">&#9650;</span>
					</a>
					<ul class="bar-header__dropdown">
						<li><a routerLink="/">Account settings</a></li>
						<li><a class="logout-btn" (click)="logout()">Log-out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>

<div [class]="'second-nav ' + navigationClass">
	<div class="second-nav__menu">
		<span *ngIf="!user">&nbsp;</span>
		<ul class="nav-links nav-links__left" *ngIf="user">
			<li><a routerLink="dashboard">Add payment information</a></li>
			<li *ngIf="user.role === 'clerk'"><a routerLink="paymentslog">Check and submit</a></li>
			<li *ngIf="user.role === 'feeclerk'"><a routerLink="feelog">Payments list</a></li>
			<li *ngIf="user.role === 'feeclerk'"><a routerLink="feelog">Check and submit</a></li>
		</ul>

		<ul class="nav-links nav-links__right" *ngIf="user.role === 'feeclerk'">
			<li><a style="text-decoration: underline;" (click)="openAdvancedSearch()">Advanced search </a></li>
			<li class="advanced-search">
				<input name="search" type="search" placeholder="e.g. ID, case number or name" [(ngModel)]="model.searchString" (keyup)="onSubmit($event)">
				<img class="magnifier" src="/assets/images/FinderGlass.png" (click)="onClick()">
			</li>
		</ul>
	</div>
	
	<div class="second-nav__menu" *ngIf="advancedSearchedOpen">
		<ul class="advanced-search-block">
			<li>
				<div class="form-group">
					<label class="form-label" for="select-box">Payment type</label>
					<select class="form-control" id="select-box" name="select-box">
						<option>GOV.UK elements option 1</option>
						<option>GOV.UK elements option 2</option>
						<option>GOV.UK elements option 3</option>
					</select>
				</div>
			</li>

			<li>
				<div class="form-group">
					<label class="form-label" for="select-box">Action</label>
					<select class="form-control" id="select-box" name="select-box">
						<option>GOV.UK elements option 1</option>
						<option>GOV.UK elements option 2</option>
						<option>GOV.UK elements option 3</option>
					</select>
				</div>
			</li>
			
			<li>
				<div class="form-group">
					<label class="form-label" for="select-box">Status</label>
					<select class="form-control" id="select-box" name="select-box">
						<option>GOV.UK elements option 1</option>
						<option>GOV.UK elements option 2</option>
						<option>GOV.UK elements option 3</option>
					</select>
				</div>
			</li>
		</ul>

		<ul class="nav-links nav-links__right">
			<li>Date from</li>
			<li>Date to</li>
		</ul>
	</div>
</div>
