<div id="skiplink-container">
	<div>
		<a href="#content" class="skiplink">Skip to main content</a>
	</div>
</div>

<header role="banner" id="global-header" class="">
	<div class="center-content">
		<div class="bar-header">
			<ul class="bar-header__list bar-header-left">
				<li>
					<a routerLink="/" title="Go to the GOV.UK homepage" class="content">
						<span id="proposition-name">Manage HMCTS payments</span>
					</a>
				</li>
			</ul>

			<ul class="bar-header__list bar-header-right">
				<li>{{ todaysDate | date:'d/M/yy' }}</li>
				<li *ngIf="user">
					<a href="#">
						{{ user.fullName }}
						<span class="chevron chevron-down">&#9660;</span>
						<span class="chevron chevron-up">&#9650;</span>
					</a>
					<ul class="bar-header__dropdown">
						<li><a routerLink="/">Account settings</a></li>
						<li><a class="logout-btn" (click)="logout()">Log-out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>

<div [class]="'second-nav ' + navigationClass">
	<div class="second-nav__menu">
		<span *ngIf="!user">&nbsp;</span>
		<ul class="nav-links nav-links__left" *ngIf="user">
			<li><a routerLink="dashboard">Add payment information</a></li>
			<li *ngIf="user.role === 'clerk'"><a routerLink="paymentslog">Check and submit</a></li>
			<li *ngIf="user.role === 'feeclerk'"><a routerLink="feelog">Payments list</a></li>
			<li *ngIf="user.role === 'feeclerk'"><a routerLink="feelog">Check and submit</a></li>
		</ul>

		<ul class="nav-links nav-links__right" *ngIf="user.role === 'feeclerk'">
			<li><a style="text-decoration: underline;" (click)="openAdvancedSearch()">Advanced search </a></li>
			<li class="advanced-search">
				<input name="search" type="search" placeholder="e.g. ID, case number or name" [(ngModel)]="model.searchString" (keyup)="onSubmit($event)">
				<img class="magnifier" src="/assets/images/FinderGlass.png" (click)="onClick()">
			</li>
		</ul>
	</div>
	
	<br *ngIf="advancedSearchedOpen" />

	<div class="second-nav__menu" *ngIf="advancedSearchedOpen">
		<ul class="advanced-search-block advanced-search-block--pt30 nav-links">
			<li>
				<div class="form-group">
					<label class="form-label" for="select-box">Payment type</label>
					<select class="form-control" id="select-box" name="select-box">
						<option>All</option>
						<option *ngFor="let paymentType of paymentTypes">
							{{ paymentType.name }}
						</option>
					</select>
				</div>
			</li>

			<li>
				<div class="form-group">
					<label class="form-label" for="action">Action</label>
					<select class="form-control" id="action" name="select-box">
						<option>All</option>
						<option>Process</option>
						<option>Return</option>
						<option>Suspense</option>
						<option>Suspense deficiency</option>
						<option>Refund</option>
					</select>
				</div>
			</li>
			
			<li>
				<div class="form-group">
					<label class="form-label" for="status">Status</label>
					<select class="form-control" id="status" name="select-box">
						<option>All</option>
						<option>Draft</option>
						<option>Pending</option>
						<option>In progress</option>
						<option>Validated</option>
						<option>Pending Approval</option>
						<option>Approved</option>
						<option>Transferred to BAR</option>
					</select>
				</div>
			</li>
		</ul>

		<form action method="POST" (submit)="performQueryByDate($event)">
		<ul class="advanced-search-block nav-links nav-links__right">
			<li>
				<div class="form-group">
					<label class="form-label" for="date-from">Date from</label>
					<input autocomplete="off" class="form-control" id="date-from" name="date-from" placeholder="e.g 18012018" [(ngModel)]="dateSearchModel.startDate">
				</div>

				<div class="form-group">
					<label class="form-label" for="date-to">Date to</label>
					<input autocomplete="off" class="form-control" id="date-to" name="search" placeholder="e.g 18012018" [(ngModel)]="dateSearchModel.endDate">
				</div>
			</li>

			<li>
				<p>
					<button class="button">Apply</button>
				</p>
			</li>
		</ul>
		</form>
	</div>
</div>
