{% extends 'layoutDashboard.njk' %}

{% set title = t('Add payment instruction') %}
{% set heading = t( title ) %}


{% block content %}

    <div id="bar-webapp">...loading</div>
    
    <br />

    <p class="need-help">
        <strong>Need help with this service?</strong>
        <br />
        Email: enquiries@email.com
    </p>

    <p>
        <a href="#">Is anything on this page unclear?</a>
    </p>
{% endblock %}