.form-action {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

table * {
  text-align: center;

  td.date {
    width: 85px;
  }
}

.text { float: left; width: 50%; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.total-value { font-weight: bold; }
