<div class="fee-edit-bar">
  <div class="link arrow">
    <div class="content">&#9668;</div>
  </div>

  <div class="link payment-id">
    <div class="content">
      <p *ngIf="model.id === undefined">...loading</p>
      <p *ngIf="model.id !== undefined">ID {{ model.id }}</p>
    </div>
  </div>

  <div class="link unallocated-payment">
    <div class="content">
      <p>Unallocated payment: &pound;{{ model.amount }}</p>
    </div>
  </div>
</div>

<div class="app-tabs">
  <ul class="app-tabs__links">
    <li><a class="selected">Allocate Payment</a></li>
    <li><a>Action Payment</a></li>
    <li><a>History</a></li>
    <li><a>Notes</a></li>
  </ul>

  <div class="app-tabs__content">
    <div>
      <ul class="button-grid button-grid--right">
        <li class="button-grid__button">
          <input class="button button-link" type="submit" value="Link a payment" />
        </li>
      </ul>
      <!-- <pre>{{ model | json }}</pre> -->
    </div>

    <div>
      <p class="lead">Case number</p>
      <ul class="button-grid button-grid--left">
        <li class="button-grid__button">
          <input class="button button-action" type="submit" value="Add case details" />
        </li>
      </ul>
    </div>

    <div>
      <table class="fee-details">
        <thead>
          <tr>
            <th scope="col">Fee description</th>
            <th>Fee amount</th>
            <th>Remission amount</th>
            <th>Refund amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <input class="button button-action" type="submit" value="Add fee details" />
            </th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />

    <p>
      <a href="#">Add another fee</a>
    </p>
    <br />

    <p>
      <a href="#">Add another case</a>
    </p>

    <div>
      <ul class="button-grid button-grid--left">
        <li class="button-grid__button">
          <input class="button" type="submit" value="Next &#8250;" />
        </li>
      </ul>
      <!-- <pre>{{ model | json }}</pre> -->
    </div>
  </div>
</div>
