<div class="fee-edit-bar">
  <div class="link arrow">
    <div class="content">&#9668;</div>
  </div>

  <div class="link payment-id">
    <div class="content">
      <p *ngIf="model.id === undefined">...loading</p>
      <p *ngIf="model.id !== undefined">ID {{ model.id }}</p>
    </div>
  </div>

  <div class="link unallocated-payment">
    <div class="content">
      <p>Unallocated payment: &pound;{{ model.amount }}</p>
    </div>
  </div>
</div>

<div>
  <pre>{{ model | json }}</pre>
</div>

<div class="">

  <div class="tabs">
    <ul>
      <li>Allocate Payment</li>
      <li>Action</li>
      <li>History</li>
      <li>Notes</li>
    </ul>
  </div>

</div>
