<div class="fee-edit-bar">
  <div class="link arrow">
    <div class="content"><span (click)="goBack()">&#9668;</span></div>
  </div>

  <div class="link payment-id">
    <div class="content">
      <p *ngIf="model.id === undefined">...loading</p>
      <p *ngIf="model.id !== undefined">ID {{ model.daily_sequence_id }}</p>
    </div>
  </div>

  <div class="link unallocated-payment">
    <div class="content">
      <p>Unallocated payment: {{ (model.amount/100) | currency: model.currency: 2.2 }}</p>
    </div>
  </div>
</div>

<div class="app-tabs">
  <app-hmcts-modal wide="true" [hidden]="!feeDetailsModal">
    <div class="sides">
      <div class="sides--left">
        
        <div class="search-fees">
          <label class="form-label" for="ni-number">
            <span class="heading-medium">Search for a Fee</span>
            <span class="form-hint">
              You do not need to use the whole fee code or description
            </span>
          </label>
          <input class="form-control" id="ni-number" placeholder="e.g. CH43, Appeal" type="text" name="ni-number">
        </div>

        <table class="fee-code">
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Amount</th>
            <th></th>
          </tr>
          <tr *ngFor="let feeCode of feeCodes">
            <td>{{ feeCode.code }}</td>
            <td>{{ feeCode.current_version.description }}</td>
            <td>99.99</td>
            <td><a (click)="updateDescAndAmount(feeCode.current_version.description,99.99)">Select</a></td>
          </tr>
        </table>
      </div>

      <div class="sides--right">
        <div class="content content--pt10">
          <div class="action-payment-text">
              <label class="form-label" for="ni-number">
                  <span class="heading-small">Fee Description</span>
              </label>
              <input class="form-control action-payment-text" 
                id="FeeDesc" 
                placeholder="Small Claim Hearing claim £1,000-1,500" 
                type="text"
                name="ni-number" 
                readonly
                [(ngModel)]="feeDescription">
          </div>
          
          <div class="action-payment-text">
              <label class="form-label" for="ni-number">
                  <span class="heading-small">Fee Amount</span>
              </label>
              <input class="form-control action-payment-text" 
                id="FeeAmt" 
                placeholder="£155.00" 
                type="text" 
                readonly
                name="ni-number" 
                [(ngModel)]="feeAmount">
          </div>

          <br /><br />

          <p>
            <input class="button button-action" type="submit" value="Add remission" /><br /><br />
            <input class="button button-action" type="submit" value="Add refund" />
          </p>
        </div>
      </div>
    </div>
    

    <div class="return-block">
      <p>
        <a (click)="openFeeDetailsModal()">Cancel</a>
        <button class="button">Save</button>
      </p>
    </div>
  </app-hmcts-modal>

  <app-hmcts-modal [hidden]="!returnModalOn">
    <h3 class="heading-medium">Are you sure you want to return Payment ID {{ model.daily_sequence_id }}?</h3>

    <div class="return-block">
      <p>
        <a (click)="toggleReturnModal()">Cancel</a>
        <button class="button" (click)="returnPaymentToPostClerk()">Return</button>
      </p>
    </div>
  </app-hmcts-modal>

  <ul class="app-tabs__links">
    <li><a [class]="(openedTab === 1) ? 'selected' : ''" (click)="changeTabs( 1 )">Allocate Payment</a></li>
    <li><a [class]="(openedTab === 2) ? 'selected' : ''" (click)="changeTabs( 2 )">Action Payment</a></li>
    <li><a [class]="(openedTab === 3) ? 'selected' : ''" (click)="changeTabs( 3 )">History</a></li>
    <li><a [class]="(openedTab === 4) ? 'selected' : ''" (click)="changeTabs( 4 )">Notes</a></li>
  </ul>

  <div class="app-tabs__content">
    <app-hmcts-modal [hidden]="!modalOn">
      <h2 class="heading-large">Case details</h2>
      <form (submit)="addCaseReference($event)">
        <div class="case-details-form">
          <div class="case-details-form__input">
            <input
              class="form-control"
              maxlength="10"
              name="new-case-number"
              [(ngModel)]="caseNumberModel"
              placeholder="Enter case number"
              type="text">
          </div>
          <div class="case-details-form__button">
            <p>
              <a (click)="toggleCaseModalWindow()">Cancel</a>
              <input class="button" type="submit" value="Save" />
            </p>
          </div>
        </div>
      </form>
    </app-hmcts-modal>

    <div *ngIf="(openedTab === 1) ? 'selected' : ''">
      <div>
        <ul class="button-grid button-grid--right">
          <li class="button-grid__button">
            <input class="button button-link" type="submit" value="Link a payment" />
          </li>
        </ul>
      </div>

      <div>
        <p class="lead">Case number</p>
        <ul class="button-grid button-grid--left">
          <li class="button-grid__button">
            <a
              (click)="toggleCaseModalWindow()"
              *ngIf="model.case_references !== undefined && model.case_references.length > 0">
              {{ model.case_references[0].case_reference }}
            </a>
            <input
              class="button button-action"
              type="submit"
              *ngIf="model.case_references !== undefined && model.case_references.length < 1"
              value="Add case details"
              (click)="toggleCaseModalWindow()" />
          </li>
        </ul>
      </div>

      <div>
        <table class="fee-details">
          <thead>
            <tr>
              <th scope="col">Fee description</th>
              <th>Fee amount</th>
              <th>Remission amount</th>
              <th>Refund amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <input class="button button-action" (click)="openFeeDetailsModal()" type="submit" value="Add fee details" />
              </th>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />

      <p>
        <a href="#">Add another fee</a>
      </p>
      <br />

      <p>
        <a href="#">Add another case</a>
      </p>

      <div>
        <ul class="button-grid button-grid--left">
          <li class="button-grid__button">
            <a [class]="(openedTab === 2) ? 'selected' : ''" (click)="changeTabs( 2 )"><input class="button" type="button" value="Next &#8250;" /></a>
          </li>
        </ul>
        <!-- <pre>{{ model | json }}</pre> -->
      </div>
    </div>

    <div *ngIf="(openedTab === 2) ? 'selected' : ''">
      <div>
        <div class="button-grid button-grid--left">
          <div class="button-grid__button">
            <div class="content">
              <input disabled type="button"
                class="button button-action"
                value="Suspense deficiency"/>
            </div>
          </div>
          <div class="button-grid__button">
              <div class="content">
                <input disabled type="button"
                  class="button button-action"
                  value="Refund"/>
              </div>
            </div>
          <div class="button-grid__button">
            <div class="content">
              <input type="button"
                class="button button-action"
                value="Suspense"/>
            </div>
          </div>
          <div class="button-grid__button">
            <div class="content">
              <input type="button"
                class="button button-action"
                (click)="toggleReturnModal()"
                value="Return"/>
            </div>
          </div>
          <div class="button-grid__button">
            <div class="content">
              <input type="button"
                class="button"
                value="Process"/>
            </div>
          </div>
        </div>
      </div>

      <div>
        <p class="lead">Payment details</p>

        <div class="action-payment-tab">
          <div class="action-payment-tab__left">
            <table class="fee-details">
              <thead>
                <tr *ngIf="model.id !== undefined">
                  <th colspan="3" class="action-payment-item">
                    <span>ID &nbsp; &nbsp; {{ model.daily_sequence_id }}</span>
                    <a [routerLink]="'/feelog/edit/' + model.id + '/change-payment'">Edit</a>
                  </th>
                </tr>
                <tr>
                  <th>Payer</th>
                  <th>Payment type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tr>
                <td>{{model.payer_name}}</td>
                <td>{{model.payment_type.name}}</td>
                <td>{{ (model.amount/100) | currency: model.currency: 2.2 }}</td>
              </tr>
              <tbody class="payment_details" *ngIf="model.payment_type.id === 'cheques' || model.payment_type.id === 'postal-orders' || model.payment_type.id === 'allpay'">
                <tr>
                  <td colspan="3">
                    <p class="lead" *ngIf="model.payment_type.id === 'cheques'">Cheque number</p>
                    <p class="lead" *ngIf="model.payment_type.id === 'postal-orders'">Postal order number</p>
                    <p class="lead" *ngIf="model.payment_type.id === 'allpay'">AllPay transaction id</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p *ngIf="model.payment_type.id === 'cheques'">{{model.cheque_number}}</p>
                    <p *ngIf="model.payment_type.id === 'postal-orders'">{{model.postal_order_number}}</p>
                    <p *ngIf="model.payment_type.id === 'allpay'">{{model.all_pay_transaction_id}}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>

    <div *ngIf="(openedTab === 3) ? 'selected' : ''">
      Opened tab 3
    </div>

    <div *ngIf="(openedTab === 4) ? 'selected' : ''">
      Opened tab 4
    </div>


  </div>
</div>
