<div [hidden]="!isVisible" id="feelog-main-component">
  <div class="title">
    <div>
      <h1 class="heading-xlarge">Validate payment</h1>
    </div>

    <div class="action" [hidden]="(isReadOnly$ | async) === false" *ngIf="model.status === paymentStatus.getPayment('Validated').code">
      <div class="action-form">
        <p style="text-align: right;">
          <button class="button button-add" (click)="revertPaymentInstruction()">Revert to Pending status</button>
        </p>
      </div>
    </div>

    <div class="action" [hidden]="isReadOnly$ | async">
      <div class="action-form form-group" [ngClass]="{'form-group-error': showError}">
        <label for="action">
          <span>Action:</span>
          <span class="error-message">Select an action to payment</span>
        </label>
        <div class="action-payment">
            <select class="form-control" [ngClass]="{'form-control-error': showError}" name="action" id="action" required (change)="onChangeAction($event.target.value)">
              <option value="" disabled selected>Select</option>
              <option appVisible feature="payment-actions-process" [value]="getActionTypes().PROCESS" [disabled]="isActionDisabled(getActionTypes().PROCESS)">Process</option>
              <option appVisible feature="payment-actions-suspense" [value]="getActionTypes().SUSPENSE" [disabled]="isActionDisabled(getActionTypes().SUSPENSE)">Suspense</option>
              <option appVisible feature="payment-actions-return" [value]="getActionTypes().RETURN" [disabled]="isActionDisabled(getActionTypes().RETURN)">Return</option>
            </select>
          <input class="button" id="submit-action-btn" type="button" value="Submit" (click)="submitAction()">
        </div>
      </div>
    </div>
  </div>

  <div class="section" *ngIf="(model.case_fee_details == null || model.case_fee_details.length === 0)">
    <div>
      <h2 class="heading-large">No fee details on payment</h2>
    </div>
    <div [hidden]="isReadOnly$ | async">
      <button class="button button-add" (click)="switchToDetailComponent(getEditTypes().CREATE)" button-name="add-fee-details" [hidden]="isReadOnly$ | async">Add fee details</button>
    </div>
  </div>

  <div>
    <h2 class="heading-large">Payment details</h2>
  </div>

  <div class="section">
    <table id="payment-instruction">
      <thead>
        <tr>
          <th>ID</th>
          <th style="width: 33%">Name</th>
          <th>Type</th>
          <th>Reference</th>
          <th>Amount</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="bar-feelogs-th">
        <tr class="bar-feelogs-th">
          <td class="bar-feelogs-td">
            {{ model.daily_sequence_id }}
          </td>
          <td class="bar-feelogs-td">
            {{ model.payer_name }}
          </td>
          <td class="bar-feelogs-td">
            {{ model.payment_type.name }}
          </td>
          <td class="bar-feelogs-td">
            {{ model.getPaymentReference(paymentTypeEnum) }}
          </td>
          <td class="bar-feelogs-td amount">
            {{ model.amount | currency: model.currency: 2.2 }}
          </td>
          <td class="bar-feelogs-td">
            {{ model.action }}
          </td>
          <td class="bar-feelogs-td text-align-right" [hidden]="isReadOnly$ | async">
            <a class="button button-edit" href="#" role="button" [routerLink]="'/feelog/edit/' + model.id + '/change-payment'">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="section" [hidden]="isReadOnly$ | async">
    <input class="button button-add" type="submit" value="Add payment" />
  </div>

  <div class="section" *ngIf="(model.case_fee_details != null && model.case_fee_details.length > 0)">
    <div>
      <h2 class="heading-large">Case and fee details</h2>
    </div>
    <table id="fee-details">
      <thead>
        <tr>
          <th>Case number</th>
          <th style="width: 33%">Fee description</th>
          <th>Fee amount</th>
          <th>Remission amount</th>
          <th>Refund amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="bar-feelogs-th">
        <tr class="bar-feelogs-th" *ngFor="let feeDetail of getAllCaseFeeDetails(); let i = index;">
          <td class="bar-feelogs-td">
            {{ feeDetail.case_reference }}
          </td>
          <td class="bar-feelogs-td">
            {{ feeDetail.fee_description }}
          </td>
          <td class="bar-feelogs-td">
            {{ feeDetail.amount | currency: model.currency: 2.2 }}
          </td>
          <td class="bar-feelogs-td">
            {{ feeDetail.remission_amount | currency: model.currency: 2.2 }}
          </td>
          <td class="bar-feelogs-td amount">
            {{ feeDetail.refund_amount | currency: model.currency: 2.2 }}
          </td>
          <td class="bar-feelogs-td text-align-right" [hidden]="isReadOnly$ | async">
            <button class="button button-edit" *ngIf="showEditButton(feeDetail)" (click)="switchToDetailComponent(getEditTypes().UPDATE, feeDetail)">Edit</button>
            <div class="remove-link" *ngIf="isTransferredToBarStatus()">
              <a (click)="removeFee(feeDetail)" [id]="'removeFee_' + i">Remove</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="section" [hidden]="isReadOnly$ | async">
      <button class="button button-add" (click)="switchToDetailComponent(getEditTypes().CREATE)">Add case and fee details</button>
    </div>
  </div>
</div>
