<div [hidden]="!isVisible" class="feelog-main-component">
  <div class="title">
    <div>
      <h1 class="heading-xlarge">Validate payment</h1>
    </div>

    <div class="action" [hidden]="isReadOnly === false"
         *ngIf="(model.status === paymentStatus.getPayment('Validated').code || model.status === paymentStatus.getPayment('Draft').code)">
      <div class="action-form">
        <p style="text-align: right;">
          <button class="button button-revert" (click)="revertPaymentInstruction()">Change to Pending status</button>
        </p>
      </div>
    </div>
  </div>

  <div class="section" *ngIf="(model.case_fee_details == null || model.case_fee_details.length === 0)">
    <div>
      <h2 class="heading-large" readOnly>No fee details on payment</h2>
    </div>
    <div [hidden]="model.status && (isReadOnly)">
      <button class="button button-add" (click)="switchToDetailComponent(getEditTypes().CREATE)"
              button-name="add-fee-details">Add fee details
      </button>
    </div>
  </div>

  <div>
    <h2 class="heading-large">Payment details</h2>
  </div>

  <div class="section">
    <table id="payment-instruction">
      <thead>
      <tr>
        <th>ID</th>
        <th style="width: 33%">Name</th>
        <th>Type</th>
        <th>Reference</th>
        <th class="amount">Amount</th>
        <th>Action</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="bar-feelogs-th">
      <tr class="bar-feelogs-th">
        <td class="bar-feelogs-td">
          {{ model.daily_sequence_id }}
        </td>
        <td class="bar-feelogs-td">
          {{ model.payer_name }}
        </td>
        <td class="bar-feelogs-td">
          {{ model.payment_type.name }}
        </td>
        <td class="bar-feelogs-td">
          {{ paymentInstructionService.getPaymentReference(model) | async }}
        </td>
        <td class="bar-feelogs-td amount">
          {{ model.amount | formatPound: true }}
        </td>
        <td class="bar-feelogs-td">
          {{ model.action }}
        </td>
        <td class="bar-feelogs-td text-align-right" [hidden]="isReadOnly">
          <a class="button button-edit" href="#" role="button" [routerLink]="'/feelog/edit/' + model.id + '/change-payment'">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="action" [hidden]="(isReadOnly) === false" *ngIf="model.action === getActionTypes().WITHDRAW">
    <div class="bar-list-block">
      <h2 class="heading-medium">Withdraw reason</h2>
      <p>{{ getWithdrawReason(model.action_reason) }}</p>
      <h2 class="heading-medium" *ngIf="model.action_comment">Comment</h2>
      <p>{{ model.action_comment }}</p>
    </div>
  </div>

  <div class="action" [hidden]="(isReadOnly) === false" *ngIf="model.action === getActionTypes().RETURNS">
    <div class="bar-list-block">
      <h2 class="heading-medium">Return reason</h2>
      <p>{{ getReturnReason(model.action_reason) }}</p>
      <h2 class="heading-medium" *ngIf="model.action_comment">Comment</h2>
      <p>{{ model.action_comment }}</p>
    </div>
  </div>

  <div class="section" *ngIf="(model.case_fee_details != null && model.case_fee_details.length > 0)">
    <div>
      <h2 class="heading-large">Case and fee details</h2>
    </div>
    <table id="fee-details">
      <thead>
      <tr>
        <th>Case number</th>
        <th style="width: 33%">Fee description</th>
        <th class="amount">Fee amount</th>
        <th class="amount">Remission amount</th>
        <th class="amount">Refund amount</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="bar-feelogs-th">
      <tr class="bar-feelogs-th align-top" *ngFor="let feeDetail of getAllCaseFeeDetails(); let i = index;">
        <td class="bar-feelogs-td">
          {{ feeDetail.case_reference }}
        </td>
        <td class="bar-feelogs-td">
          {{ feeDetail.fee_description }}
        </td>
        <td class="bar-feelogs-td amount">
          {{ feeDetail.amount | formatPound }}
        </td>
        <td class="bar-feelogs-td amount">
          <p class="remission-amount-info">{{ displayRemission(feeDetail) | formatPound }}</p>
          <h2 class="text-bold">Applicant name</h2>
          <p class="remission-benefiter-info">{{ feeDetail.remission_benefiter }}</p>
          <h3 class="text-bold">Remission/HWF reference</h3>
          <p class="remission-authorisation-info">{{ feeDetail.remission_authorisation }}</p>
        </td>
        <td class="bar-feelogs-td amount">
          {{ feeDetail.refund_amount | formatPound }}
        </td>
        <td class="bar-feelogs-td text-align-right" [hidden]="isReadOnly">
          <button class="button button-edit" *ngIf="showEditButton(feeDetail)" (click)="switchToDetailComponent(getEditTypes().UPDATE, feeDetail)">Edit</button>
          <div class="remove-link" *ngIf="isTransferredToBarStatus()">
            <a (click)="removeFee(feeDetail)" [id]="'removeFee_' + i">Remove</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="section" [hidden]="isReadOnly">
      <button id="add-case-fee-details" class="button button-add" (click)="switchToDetailComponent(getEditTypes().CREATE)">Add case and fee
        details
      </button>
    </div>
  </div>
  <div class="action" [hidden]="isReadOnly">
    <div class="action-form form-group" [ngClass]="{'form-group-error': submitActionError != null}">
      <label for="action">
        <span class="action-select">Confirm action</span>
        <span  class="error-message">{{ submitActionError }}</span>
      </label>

      <div class="action-payment" *ngIf="actions">
        <div class="multiple-choice-container" *ngFor="let action of actions">
          <div class="multiple-choice">
            <input [id]="action.action"
                   name="action"
                   type="radio"
                   (click)="onChangeAction(action)"
                   [checked]="(selectedAction) && selectedAction.action === action.action"
                   [value]="action.action"/>
            <label for="radio-inline-1" (click)="onChangeAction(action)">{{ action.action }}</label>
          </div>

          <div class="form-group" *ngIf="(selectedAction) && selectedAction.action === 'Return' && action.action === 'Return'">
            <div class="panel panel-border-narrow" [ngClass]="{'form-group-error': submitActionFieldError != null}">
              <span  class="error-message">{{ submitActionFieldError }}</span>
              <label class="form-label" for="return-reason">Reason for return</label>
              <select
                class="form-control"
                [(ngModel)]="model.action_reason"
                (change)="onToggleReason($event.target.value)"
                id="return-reason">
                <option disabled>Select</option>
                <option *ngFor="let returnReason of returnReasons.reasons" [value]="returnReason.id">
                  {{ returnReason.reason }}
                </option>
              </select>

              <br/><br/>

              <div *ngIf="showReturnTextArea">
                <label class="form-label" for="return-comment">Comment (optional)</label>
                <textarea class="form-control"
                          [(ngModel)]="model.action_comment"
                          id="return-comment"
                          name="return-comment"
                          rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="(selectedAction) && selectedAction.action === 'Withdraw'">
          <div class="panel panel-border-narrow">
            <label class="form-label" for="withdraw-reason">Reason for withdraw</label>
            <select
              class="form-control"
              [(ngModel)]="model.action_reason"
              (change)="onToggleReason($event.target.value)"
              id="withdraw-reason">
              <option disabled>Select</option>
              <option *ngFor="let withdrawReason of withdrawReasons.reasons" [value]="withdrawReason.id">
                {{ withdrawReason.reason }}
              </option>
            </select>

            <br/><br/>

            <div *ngIf="showWithdrawTextArea">
              <label class="form-label" for="withdraw-comment">Comment (optional)</label>
              <textarea class="form-control"
                        [(ngModel)]="model.action_comment"
                        id="withdraw-comment"
                        name="withdraw-comment"
                        rows="3"></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <p [hidden]="isReadOnly">
    <input class="button button-submit" id="submit-action-btn" type="button" value="Submit" (click)="submitAction()">
  </p>
</div>
